body {
    font-family: Hiragino Kaku Gothic Pro;
}

.content {
    width: 100%;
    overflow-x: hidden;
}

.message{
    display: flex;
    flex-direction: row;
    width: 60%;
    padding: 10px 10px;
    margin: 10px 20%;
}

.message .bold{
    font-weight: bold;
}

.message .oblique{
    font-style: oblique;
}

.message .line{
    text-decoration: line-through;
}

.message:hover {
    background-color: #f9f9f9;
}

.message .avater{
    height: 100%;
    min-height: 48px;
    min-width: 48px; 
    max-width: 48px;
    margin: 0 10px;
    background-color:#ffffff;
}

.message .container{
    display: flex;
    flex-direction: column;
    word-break: break-all;
}

.message .container .header {
    font-weight: bold;
}

.side_bar {
    position: fixed; /* スクロールしても位置を固定 */
    padding: 100px 0;
    width: 20%;
    height: auto;
    float: left;
    background-color: #4a3a4a;
}

.side_bar .name {
    display: flex;
    flex-direction: column;
    padding: 2% 10%;
    color: #c9c4c9;
    
}

.side_bar .container {
    display: flex;
    flex-direction: column;
    padding: 2px 10%;
}

.side_bar .container#current {
    background-color: #5e9489;
}

.side_bar .container#current a { color: #ffffff; }

.side_bar .container:hover {
    background-color: #3c2f3c;
}

.side_bar .container a {
    text-decoration: none;
}

.side_bar .container a { color: #c9c4c9; }
